.footer {
    padding: 0 50px;
    background-image: url(../img/footer-bg.png);
    background-color: $primaryColor;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;



    .top {

        .container {
            display: flex;
            position: relative;
            flex-wrap: wrap;

            .column {
                width: 25%;
                color: $quaternaryColor;
                font-size: 15px;
                margin: 15px 0;
                padding: 10px;


                @media(max-width:900px) {
                    width: 50%;
                    margin: 0 0 30px 0;

                }

                @media(max-width:600px) {
                    width: 100%;
                    margin: 0 0 30px 0;
                    background-repeat: repeat;
                }

                .bar {
                    height: 3px;
                    width: 15%;
                    background-color: $secondaryColor;
                }

                ul {
                    list-style-type: none;
                    color: $secondaryColor;
                    padding: 0 0 30px 0;


                    li {
                        padding: 0 0 30px 8px;

                        span {
                            color: $quaternaryColor;
                            font-size: 11px;
                        }

                        img {
                            float: left;
                            width: 40px;
                            border-radius: 5px;
                            margin: 0 6px 0 0;
                        }

                        a {
                            color: $quaternaryColor;
                            font-size: 14px;
                            padding: 0 0 0 8px;

                            :hover {
                                color: $secondaryColor;
                            }
                        }
                    }


                }

            }


        }

    }

    .bottom {
        padding: 30px 0;

        .container {

            display: flex;
            justify-content: space-between;
            align-items: center;

            .row {
                font-size: 12px;
                color: $quaternaryColor;


                .social {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;


                    li {
                        display: inline-block;

                        a {
                            display: flex;
                            width: 35px;
                            height: 35px;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            color: $quaternaryColor;
                            background-color: $secondaryColor;
                            border-radius: 50%;

                            i {
                                color: $quaternaryColor;
                                font-size: 16px;

                            }

                            :hover {
                                color: $primaryColor;
                            }
                        }
                    }
                }
            }





            img {
                max-width: 150px;
            }
        }
    }
}