html {
    scroll-behavior: smooth;
}

body {
    font-family: $mainfFontFamily;
    color: $mainTextColor;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headerFontFamily;
}

.container {
    max-width: 1070px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    padding: 12px 40px;
    border-radius: 4px;
    background-color: $secondaryColor;
    color: $teriaryColor;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.3s;

    &:hover {
        color: $quaternaryColor;
        background-color: $primaryColor;
    }
}