.sec1 {
    height: 100vh;
    background-image: url("../img/utah.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700px;
}

.sec1 li:first-child,
li:last-child {
    text-decoration: underline;
}

.sec2 {
    height: 100vh;
    background-image: url("../img/mountain.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Nerko One', cursive;
    font-weight: 400;
    color: #e8fbc6;
}


.sec2 li:last-child:hover {
    color: #e8fbc6;

}

.sec3 {
    height: 100vh;
    background-image: url("../img/dive.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font: larger;
    text-align: center;
    vertical-align: middle;
    line-height: 100vh;


}